$font-family-base: system-ui, Avenir, Helvetica, Arial, sans-serif;

$border-radius: 8px;

$theme-dark: (
  color-bg-primary: #08040c,
  color-bg-primary-hover: #0b0e13,

  color-bg-secondary: #0d1117,
  color-bg-secondary-hover: #21262d,

  color-on-bg-primary: #ffffff,
  color-on-bg-primary-hover: #6e7681,

  color-on-bg-secondary: #ffffff,
  color-on-bg-secondary-hover: #6e7681,

  color-primary: #28abf2,
  color-primary-hover: #1c73a1,

  color-secondary: #bc1922,
  color-secondary-hover: #7e0f14,

  color-button-primary: #2e9a40,
  color-button-primary-hover: #1f692b,

  color-button-secondary: #3d444d,
  color-button-secondary-hover: #30353b,

  color-button-danger: #ff5f57,
  color-button-danger-hover: #aa302a,
);

$theme-light: ();
